{% extends "base.html" %}

{% block content %}
<div class="content">
    <link rel="stylesheet" href="/static/css/login.css">
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <h1 style="font-weight: 800; color: white">Изменение данных аккаунта</h1>
        <p>
            {{ form.nickname.label }}<br>
            {{ form.nickname(class="form-control") }}<br>
            {% for error in form.nickname.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>
            {{ form.profile_image.label }}<br>
            {{ form.profile_image()}}<br>
            {% for error in form.profile_image.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>

        <p style="margin-top: 20px">{{ form.submit(type="submit", class="btn btn-dark") }}</p>
        <p>Отмена? Окей <a href="/profile">В профиль</a></p>

        {{message}}
    </form>
</div>
{% endblock %}